[Unit]
Description=NetUtils Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /etc/systemd/system/NetUtils.py
Restart=always
User=root
StandardOutput=append:/var/log/NetUtils/output.log
StandardError=append:/var/log/NetUtils/error.log
# Create log directory if it doesn't exist
ExecStartPre=/bin/mkdir -p /var/log/NetUtils
# Set proper permissions for the log directory
ExecStartPre=/bin/chown root:root /var/log/NetUtils
ExecStartPre=/bin/chmod 755 /var/log/NetUtils


[Install]
WantedBy=multi-user.target