[Unit]
Description=NetUtils Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /etc/systemd/system/NetUtils.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target